.o_report_check_bbl {
    font-size: 24px;
    font-family: "THSarabunNew";
    .payee_only {
        font-size: 30px;
        position: fixed;
        top: 13mm;
        left: 72mm;
        box-sizing: content-box;
        width: 60mm;
        height: 5mm;
        padding: 1px;
    }
    @for $i from 0 through 7 {
        .check_date_#{$i} {
            top: 10mm;
            position: fixed;
            right: 42mm - (6 * $i);
        }
    }
    .pay_to {
        position: fixed;
        top: 25mm;
        left: 50mm;
        box-sizing: content-box;
        width: 120mm;
        height: 10mm;
        padding: 1px;
    }
    .bearer {
        position: fixed;
        top: 28mm;
        right: 0mm;
    }
    .amount_word {
        position: fixed;
        top: 34mm;
        left: 60mm;
        box-sizing: content-box;
        width: 110mm;
        height: 10mm;
        padding: 1px;
    }
    .amount {
        font-size: 25px;
        position: fixed;
        top: 43mm;
        right: 27mm;
        box-sizing: content-box;
        width: 60mm;
        height: 5mm;
        padding-right: 1px;
        text-align: right;
    }
}
